In [11]:
import chime, warnings
chime.notify_exceptions()
warnings.filterwarnings('ignore')

# ML Lab 1: Problem Solving Pandas

<img src = 'datasc-660x434.png'>

The business problem is understanding the COVID-19.The cumulative count of confirmed, death and recovered cases of COVID-19 from different countries from 22nd January 2020
1. Collecting data https://www.kaggle.com/datasets/imdevskp/corona-virus-report?select=covid_19_clean_complete.csv
- [Note: the downloaded file is in .zip, we need to unzip it then import it as csv]
2. Understanding the data by using the traditional Python data science modules.

In this notebook, we will walkthrough the pandas library which is used for data wrangling tasks: data assessing, data coding and data cleaning. This is a part of business & data understanding and preparation. [Note: Best practice is always to import os module along with numpy]

- Importing data and dealing with data with different formats: CSV, JSON, TSV, XLSX, TXT, HTML and etc ...
  - pd.read_csv('FILENAME.CSV')
  - pd.read_excel('FILENAME.XLSX',sheet = n) # where n is the sheet number 
- Functions and command to assess the data
  - head(n): Finding n top rows
  - tail(n): Finding n bottom rows
  - sample(n): Finding n sample of data
  - info(): get an overall information about the data attributes/types/missing values
  - shape: finding the shape of data in rows x columns
  - describe(): find statistical measures about your data including: mean, std, Q1,2,3,4 and range, and mode and median.
  - plot(): plotting the data
- Creating a data frame or a data series
  - DataFrame({'COL1_NAME': [Values],'COL2_NAME': [Values]})
  - Series({'INDEX_NAME': [Values]})
- Important functions and cheatsheet check [Cheatsheet](./Pandas_Cheat_Sheet.pdf)
  - lambda function
  - join
  - melt
  - merge
  - concatenate
  and etc ...

# Let's Code!!!

## Wrangling Process
- Importing the data and the required modules
- Assessing the data
- Documenting the observations
- Taking action and decision regarding wrangling the data

In [10]:
# Importing required tools
import zipfile as zf, pandas as pd, numpy as np, os, shutil
# Unzipping the data file since it is a zip file we add attribute compression = 'zip'
df = pd.read_csv('covid_19_clean_complete.csv.zip',compression='zip')

In [30]:
pd.set_option('display.max_rows',None,'display.max_colwidth',None,'display.max_columns',None)

In [2]:
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [13]:
df.shape

(49068, 10)

In [14]:
df.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

Observations:
1. 10 Columns and Province/State has many 35000 null value.
2. The date variable is an object format

Strategy (If province/state not needed):
1. Drop the Province/State
2. Change the date column to datetime

In [15]:
# Dropping the Province/State column
df.drop('Province/State',axis=1,inplace = True)

In [16]:
df

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [20]:
# Convert the date to datetime column
df['Date'] = pd.to_datetime(df['Date'])

In [24]:
df.head()

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  49068 non-null  object
 1   Lat             49068 non-null  float64
 2   Long            49068 non-null  float64
 3   Date            49068 non-null  datetime64[ns]
 4   Confirmed       49068 non-null  int64
 5   Deaths          49068 non-null  int64
 6   Recovered       49068 non-null  int64
 7   Active          49068 non-null  int64
 8   WHO Region      49068 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 3.4+ MB

In [37]:
df.groupby('Country/Region')[['Deaths','Recovered']].sum()

                                    Deaths  Recovered
Country/Region
Afghanistan                          49098     798240
Albania                               5708     118877
Algeria                              77972     755897
Andorra                               5423      69074
Angola                                1078       6573
Antigua and Barbuda                    326       2600
Argentina                            97749    1680024
Armenia                              27089     857482
Australia                            11387     711928
Austria                              71390    1638380
Azerbaijan                           14282     703402
Bahamas                               1203       6047
Bahrain                               5115    1334787
Bangladesh                          115633    3714702
Barbados                               738       7444
Belarus                              28391    2771925
Belgium                             963679    1627492
Belize                                 222       1618
Benin                                 1095      25911
Bhutan                                   0       2838
Bolivia                              78032     571653
Bosnia and Herzegovina               16373     207156
Botswana                               120       2291
Brazil                             3938034   54492873
Brunei                                 226      15262
Bulgaria                             17654     182621
Burkina Faso                          5583      74876
Burma                                  639      15476
Burundi                                106       7361
Cabo Verde                             854      38253
Cambodia                                 0      13917
Cameroon                             22354     588941
Canada                              699566          0
Central African Republic              2010      43318
Chad                                  5523      48059
Chile                               322480   13292593
China                               672413   11466866
Colombia                            236525    2823811
Comoros                                337      11473
Congo (Brazzaville)                   2696      29132
Congo (Kinshasa)                     10888     135073
Costa Rica                            2037     116642
Cote d'Ivoire                         4717     309368
Croatia                              10372     213360
Cuba                                  8145     170780
Cyprus                                1962      65254
Czechia                              33364     651140
Denmark                              60602    1057021
Djibouti                              3011     255143
Dominica                                 0       1659
Dominican Republic                   61786    1211513
Ecuador                             346618    1772210
Egypt                               186936    1197283
El Salvador                          11429     240972
Equatorial Guinea                     2246      35352
Eritrea                                  0       5724
Estonia                               6826     137224
Eswatini                               763      30185
Ethiopia                              5887     121793
Fiji                                     0       1568
Finland                              30338     544492
France                             3048524    7182115
Gabon                                 2497     146671
Gambia                                 209       2278
Georgia                               1266      60230
Germany                             871322   17107839
Ghana                                 6908     814529
Greece                               19215     132346
Greenland                                0       1372
Grenada                                  0       1848
Guatemala                            49133     416757
Guinea                                2356     276575
Guinea-Bissau                         1291      26036
Guyana                                1346       8521
Haiti                                 6663      87298
Holy See                                 0        742
Honduras                             37941     135380
Hungary                              51053     204205
Iceland                               1141     190132
India                              1111831   23783720
Indonesia                           220272    1677484
Iran                               1024136   15200895
Iraq                                121392    1790961
Ireland                             161948    1997530
Israel                               31627    1521162
Italy                              3707717   15673910
Jamaica                               1005      36003
Japan                                85559    1307911
Jordan                                1041      68045
Kazakhstan                           14621    1342402
Kenya                                10463     161998
Kosovo                                5229     122234
Kuwait                               23084    2205347
Kyrgyzstan                           14979     301587
Laos                                     0       1540
Latvia                                2458      74648
Lebanon                               3520      82508
Lesotho                                 98       1318
Liberia                               3341      23418
Libya                                 1612      14199
Liechtenstein                          116       9477
Lithuania                             7019     120592
Luxembourg                           11624     379664
Madagascar                            1699      99424
Malawi                                1640      26822
Malaysia                             12971     703056
Maldives                               705     106302
Mali                                  8229      95287
Malta                                  765      53260
Mauritania                            6720      94938
Mauritius                             1161      32602
Mexico                             1728277   11141225
Moldova                              38196     652369
Monaco                                 425       8707
Mongolia                                 0       9902
Montenegro                            1379      31486
Morocco                              23170     703960
Mozambique                             361          0
Namibia                                 72       2152
Nepal                                 1660     308056
Netherlands                         622314      16967
New Zealand                           2181     149560
Nicaragua                             4867      86849
Niger                                 5948      79067
Nigeria                              39416     600928
North Macedonia                      21235     214483
Norway                               25664     544430
Oman                                 11804    1439269
Pakistan                            264729    6936003
Panama                               51756    1213644
Papua New Guinea                         2        695
Paraguay                              1663      75800
Peru                                652113   10862846
Philippines                         110892     785042
Poland                              118018    1465856
Portugal                            146603    1809966
Qatar                                 7123    4676443
Romania                             140031    1409409
Russia                              619385   25120448
Rwanda                                 169      36974
Saint Kitts and Nevis                    0       1295
Saint Lucia                              0       1860
Saint Vincent and the Grenadines         0       1995
San Marino                            5086      41810
Sao Tome and Principe                  950      15882
Saudi Arabia                        105150    8474107
Senegal                               7177     286778
Serbia                               28876     735730
Seychelles                               0       1247
Sierra Leone                          4186      58390
Singapore                             2441    2372884
Slovakia                              2692     121950
Slovenia                             11326     109805
Somalia                               7006      59491
South Africa                        181979    5836423
South Korea                          33518    1246797
South Sudan                           2006      23121
Spain                              3033030   15093583
Sri Lanka                             1105     109389
Sudan                                35415     240835
Suriname                               721      17436
Sweden                              448913          0
Switzerland                         207858    2957883
Syria                                  973          0
Taiwan*                                840      42184
Tajikistan                            3915     264000
Tanzania                              1985      16729
Thailand                              6289     312360
Timor-Leste                              0          0
Togo                                  1295      28330
Trinidad and Tobago                    949      10531
Tunisia                               5250      85410
Turkey                              466056   13345389
US                                11011411   56353416
Uganda                                   6      39767
Ukraine                              85248    1387463
United Arab Emirates                 25387    2402874
United Kingdom                     3997775     126217
Uruguay                               2456      72759
Uzbekistan                            2938     423777
Venezuela                             4101     151542
Vietnam                                  0      32838
West Bank and Gaza                    1370      61124
Western Sahara                          63        648
Yemen                                17707      23779
Zambia                                2643      83611
Zimbabwe                               881      12207

In [36]:
pd.melt(df)

              variable                  value
0       Country/Region            Afghanistan
1       Country/Region                Albania
2       Country/Region                Algeria
3       Country/Region                Andorra
4       Country/Region                 Angola
...                ...                    ...
441607      WHO Region                 Africa
441608      WHO Region  Eastern Mediterranean
441609      WHO Region                 Africa
441610      WHO Region                 Europe
441611      WHO Region                 Africa

[441612 rows x 2 columns]